<div class="container-principal">
  <header>
    <h1 class="header-title_container"><span (click)="navigateHomePage()">Investimentos</span></h1>
    <div *ngIf="userService.currentUserSig() === null" class="header-text_container">
      <p class="header-text_logAndReg"><span routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</span></p>
      <p class="header-text_logAndReg"><span routerLink="/registration" routerLinkActive="active" ariaCurrentWhenActive="page">Cadastrar-se</span></p>
    </div>
    <div *ngIf="userService.currentUserSig()" class="header-text_container">
      <p class="header-text_logout"><span (click)="logoutUser()">Logout</span></p>
    </div>
  </header>
  
  <main>
    <router-outlet />
  </main>

  <footer>
    <p>© {{ current_year }} Guilherme Silveira Emanuelli. All rights reserved.</p>
  </footer>
</div>