.container-principal {
    background-color: #f8f8f8;
    height: auto;
    width: 70%;
    position: relative;
    left: 15%;
    right: 15%;
    padding: 0px;
}

header {
    background-color: #7a55b9;
    height: 18vh;
    display: flex;
}

header span {
    padding: 0.5em;
    cursor:pointer;
}

.header-title_container {
    line-height: 5em;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.header-text_container {
    width: 50%;
    display: flex;
}

.header-text_container p {
    line-height: 4.6em;
    font-size: 1.5em;
    text-align: center;
}

.header-text_container span {
    transition: 0.5s;
    border-radius: 5px;
}

.header-text_container span:hover {
    color: #ffffff;
    background-color: #46316b;
}

.header-text_logAndReg {
    width: 50%;
}

.header-text_logout {
    width: 100%;
}

main {
    height: 74.3vh;
}

footer {
    background-color: #7a55b9;
    height: 6vh;
    text-align: center;
    line-height: 3.3em;
    font-size: 1em;
}