<div class="login-container">
    <div>
        <h2>Login</h2>
        <form [formGroup]="form" (ngSubmit)="loginUser()">
            <div>
                <input type="text" placeholder="Email" formControlName="email"/>
            </div>
            <div class="form-lastInput">
                <input type="password" placeholder="Senha" formControlName="password"/>
            </div>
            <div>
                <button type="submit">Fazer login</button>
            </div>
        </form>
    </div>
</div>