<div class="registration-container">
    <div>
        <h2>Cadastro</h2>
        <form [formGroup]="form" (ngSubmit)="registrateUser()">
            <div>
                <input type="text" placeholder="Nome de Usuário" formControlName="name"/>
            </div>
            <div>
                <input type="text" placeholder="Email" formControlName="email"/>
            </div>
            <div class="form-lastInput">
                <input type="password" placeholder="Senha" formControlName="password"/>
            </div>
            <div>
                <button type="submit">Cadastrar-se</button>
            </div>
        </form>
    </div>
</div>